
        #flash-popup {
            position: fixed;
            top: 20px;
            right: 20px;
            z-index: 999;
        }

        
        .flash-message {
            padding: 12px 20px;
            margin-bottom: 10px;
            border-radius: 6px;
            color: black;
            font-weight: bold;
            animation: fadeIn 0.5s ease;
        }

        
        .success { background-color: #28a745; }
        .error { background-color: #dc3545; }
        .warning { background-color: #ffc107; color: black; }

        @keyframes fadeIn {
            from { opacity: 0; transform: translateY(-10px); }
            to { opacity: 1; transform: translateY(0); }
        }