{% extends 'base.html' %}
{% block pagetitle %} login{% endblock pagetitle %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}
{% block content %}
   <header><h3> Login</h3></header>
   <main class="login-forms">
    <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username() }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
   </main>
   <footer><a href="{{ url_for('auth.signup') }}"><button id="create">Create Account</button></a></footer>
    
{% endblock content %}