{% extends 'base.html' %}
{% block pagetitle %} Expense Tracker{% endblock pagetitle %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/mainpage.css') }}">
{% endblock %}
{% block content %}
<header>
    <h3> Welcome to expense tracker  </h3>
</header>
    <main class="expense-form">
         <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.expense.label }}
            {{ form.expense() }}
        </p>
        <p>
            {{ form.category.label }}
            {{ form.category() }}
        </p>
        <p>
            {{ form.amount.label }}
            {{ form.amount() }}
        </p>
        <p>
            {{ form.date.label }}
            {{ form.date() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    </main>
{% endblock content %}