{% extends 'base.html' %}
{% block pagetitle %} Signup {% endblock pagetitle %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/Signup.css') }}">{% endblock %}
{% block content %}

<header><h3>Sign Up</h3></header>
    
    <main class="signup-forms">
        <form method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}
            {{ form.username() }}
        </p>
        <p>
            {{ form.email.label }}
            {{ form.email() }}
        </p>
        <p>
            {{ form.password.label }}
            {{ form.password() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
    </main>

    <footer><a href="{{ url_for('auth.login') }}"><button id="create">Already Have an Account</button></a></footer>
    
{% endblock content %}